<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>to do</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <h4 align="right">{{ msg }}</h4>
        {% endfor %}
    {% endif %}
{% endwith %}
<h1>List manager</h1>
<a href="/add">Create list</a>
<table>
    <tr>
        <th><h2>Id</h2></th>
        <th><h2>Name</h2></th>
        <th><h2>Created date</h2></th>
    </tr>
    {% for l in response_list %}
    <tr>
        <td><h2>{{ l.id }}</h2></td>
        <td><h2><a href="/{{ l.id }}">{{ l.name }}</a></h2></td>
        <td><h2>{{ l.created_date }}</h2></td>
        <td><h4><a href="/delete/{{ l.id }}">Delete</a></h4></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>