<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>to do</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <h1 align="right">{{ msg }}</h1>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="/{{ task.list_id }}">Back</a>
    <form action="/task/update/{{ task.id }}" method="post">
        <label for="name">Name: </label><br>
        <input type="text" id="name" name="name" value="{{ task.name }}">
        <br>
        <br>
        <label for="notes">Notes: </label><br>
        <input type="text" id="notes" name="notes"
               {% if task.notes %}
                    value="{{ task.notes }}"
               {% else %}
                    value=""
               {% endif %}>
        <br>
        <br>
        <label for="priority">Priority: </label><br>
        <input type="text" id="priority" name="priority" placeholder="{{ task.priority }}" ondrop="LOW">
        <br>
        <br>
        <label for="due_date">Due date: </label><br>
        <input type="text" id="due_date" name="due_date" placeholder="{{ task.due_date }}">
        <br>
        <br>
        <label for="checkbox">Completed: </label>
        <input type="checkbox" id="checkbox" value="1" name="completed"
        {% if task.completed %} checked {%  endif %}>
        <input type="hidden" id="hidden" value="0" name="completed">
        <script>
            form.addEventListener('submit', () => {
                if(document.getElementById("checkbox").checked) {
                    document.getElementById("hidden").disabled = true;
                }
            }
        </script>
        <br>
        <br>
        <input type="submit" value="Update">
    </form>
</body>
</html>